<?xml version="1.0"?>

<launch>

    <!-- arguments -->
    <arg name="points_topic" default="points_raw" />
    <arg name="imu_topic" default="imu_correct" />

    <!-- transformation between lidar and base_link -->
    <node pkg="tf" type="static_transform_publisher" name="odom2map_publisher" args="0 0 0 0 0 0 map odom 1000" />
    <node pkg="tf" type="static_transform_publisher" name="base2odom_publisher" args="0 0 0 0 0 0 odom base_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="lidar2base_publisher" args="0 0 0 0 0 0 base_link velodyne 1000" />
    <node pkg="tf" type="static_transform_publisher" name="imu2base_publisher" args="-8.086759e-01 3.195559e-01 -7.997231e-01 -0.0007854 -0.0020244 0.0148251 base_link imu_enu_link 1000" />

    <!--node type="rviz" name="rviz" pkg="rviz" args="-d $(find artslam_wrapper)/rviz/basic_visualization.rviz" /-->

</launch>